body {
    background-image: url(/Users/denise.burnett/projects/Train-Scheduler/assets/images/black-and-white-dark-destination-258510.jpg);
}

.jumbotron{
    background-color: gray;
    opacity: 0.8;
}
